In [1]:
5+5

10

In [19]:
# Example of a list representing tabular data
from tabulate import tabulate
table = [
    ["stdid","stdname","standard","age","Hindi","English","Maths","Science","Computer","Total"],
    ["std101","Ashish ","10th",15,67,89,87,89,90,422],
    ["std102","Abhishek ","10th",14,85,45,48,90,45,313],
    ["std103","Aman","10th",15,23,56,78,78,67,302],
    ["std104","Rahul","10th",14,45,67,45,45,56,258],
    ["std105","Ruby","10th",13,89,67,89,93,65,403],
    ["std106","Suman","10th",13,90,46,67,67,67,337],
    ["std107","Saurabh","10th",15,45,23,34,45,34,181],
    ["std108","Sumit","10th",14,23,45,67,78,90,303],
    ["std109","Kamlesh","10th",15,45,56,78,99,67,345],
    ["std110","Rohan","10th",15,34,12,24,45,56,171]
]

# Function to print the table in a tabular format
def print_table(table):
    for row in table:
        print("| {:<10} | {:<10} | {:<10} | {:<5} | {:<5} | {:<10} | {:<5} | {:<10} | {:<10} | {:<5} |".format(*row))
def query_1(table):
    print("\nQuery 1: Names of students whose marks in English are greater than 50")
    for row in table[1:]:  # Skip header row
        if row[6] > 50:  # English marks is at index 6
            print(f" Name: {row[1]:<7} ")
def query_2(table):
    print("\nQuery 2: Names and ages of the top four scorers in Maths")
    sorted_table = sorted(table[1:],key=lambda x :x[6],  reverse=True)  # Sort by Maths marks (index 6) descending
    for row in sorted_table[:4]:
       print(f" Name: {row[1]:<10} | Age: {row[3]:<7} |")
def query_3(table):
    print("\nQuery 3:Names and ages of the bottom last scorer in Computer")
    sorted_table = sorted(table[1:],key=lambda x :x[9],reverse=True)
    for row in sorted_table[6:]:
        print(f" stdid: {row[0]:<10} | Name: {row[1]:<7} | Age: {row[3]:<7} |")
# Printing the table in a tabular format
print_table(table)
query_1(table)
query_2(table)
query_3(table)

| stdid      | stdname    | standard   | age   | Hindi | English    | Maths | Science    | Computer   | Total |
| std101     | Ashish     | 10th       | 15    | 67    | 89         | 87    | 89         | 90         | 422   |
| std102     | Abhishek   | 10th       | 14    | 85    | 45         | 48    | 90         | 45         | 313   |
| std103     | Aman       | 10th       | 15    | 23    | 56         | 78    | 78         | 67         | 302   |
| std104     | Rahul      | 10th       | 14    | 45    | 67         | 45    | 45         | 56         | 258   |
| std105     | Ruby       | 10th       | 13    | 89    | 67         | 89    | 93         | 65         | 403   |
| std106     | Suman      | 10th       | 13    | 90    | 46         | 67    | 67         | 67         | 337   |
| std107     | Saurabh    | 10th       | 15    | 45    | 23         | 34    | 45         | 34         | 181   |
| std108     | Sumit      | 10th       | 14    | 23    | 45         | 67    | 78         | 90         | 303   |
| std109     | Kamlesh    | 10th       | 15    | 45    | 56         | 78    | 99         | 67         | 345   |
| std110     | Rohan      | 10th       | 15    | 34    | 12         | 24    | 45         | 56         | 171   |

Query 1: Names of students whose marks in English are greater than 50
 Name: Ashish
 Name: Aman
 Name: Ruby
 Name: Suman
 Name: Sumit
 Name: Kamlesh

Query 2: Names and ages of the top four scorers in Maths
 Name: Ruby       | Age: 13      |
 Name: Ashish     | Age: 15      |
 Name: Aman       | Age: 15      |
 Name: Kamlesh    | Age: 15      |

Query 3:Names and ages of the bottom last scorer in Computer
 stdid: std103     | Name: Aman    | Age: 15      |
 stdid: std104     | Name: Rahul   | Age: 14      |
 stdid: std107     | Name: Saurabh | Age: 15      |
 stdid: std110     | Name: Rohan   | Age: 15      |

In [20]:
# dictionary
studdata={'stdid':'std101','stdname':'Anna'}
print(studdata)

{'stdid': 'std101', 'stdname': 'Anna'}

In [21]:
studdata.pop('Name')

KeyError: 'Name'

In [22]:
print(studdata)

{'stdid': 'std101', 'stdname': 'Anna'}

In [25]:
studdata.pop('stdname')
print(studdata)

{'stdid': 'std101'}

In [26]:
elementKeys=studdata.keys()
print(elementKeys)

dict_keys(['stdid'])

In [27]:
listval=studdata.values()
print(studdata)

{'stdid': 'std101'}

In [28]:
element=studdata.items()

In [29]:
print(element)

dict_items([('stdid', 'std101')])

In [31]:
table = [
    ["stdid","stdname","standard","age","Hindi","English","Maths","Science","Computer","Total"],
    ["std101","Ashish ","10th",15,67,89,87,89,90,422],
    ["std102","Abhishek ","10th",14,85,45,48,90,45,313],
    ["std103","Aman","10th",15,23,56,78,78,67,302],
    ["std104","Rahul","10th",14,45,67,45,45,56,258],
    ["std105","Ruby","10th",13,89,67,89,93,65,403],
    ["std106","Suman","10th",13,90,46,67,67,67,337],
    ["std107","Saurabh","10th",15,45,23,34,45,34,181],
    ["std108","Sumit","10th",14,23,45,67,78,90,303],
    ["std109","Kamlesh","10th",15,45,56,78,99,67,345],
    ["std110","Rohan","10th",15,34,12,24,45,56,171]
]

# Extracting headers and data rows separately
headers = table[0]
data = table[1:]

# Converting the table into a list of dictionaries
table_dict = []
for row in data:
    row_dict = {headers[i]: row[i] for i in range(len(headers))}
    table_dict.append(row_dict)

# Printing the table in dictionary format
for row in table_dict:
    print(row)
# Assuming table_dict is already defined from the previous code

# 1. Names of students whose marks in English are greater than 50
english_greater_than_50 = [row['stdname'].strip() for row in table_dict if row['English'] > 50]
print("Students whose marks in English are greater than 50:")
for name in english_greater_than_50:
    print(name)

# 2. Names and ages of the top four scorers in Maths
# Sort table_dict based on Maths scores in descending order
table_sorted_by_maths = sorted(table_dict, key=lambda x: x['Maths'], reverse=True)

# Extract names and ages of the top four scorers
top_four_scorers_maths = [(row['stdname'].strip(), row['age']) for row in table_sorted_by_maths[:4]]
print("\nNames and ages of the top four scorers in Maths:")
for name, age in top_four_scorers_maths:
    print(f"{name}, Age: {age}")

{'stdid': 'std101', 'stdname': 'Ashish ', 'standard': '10th', 'age': 15, 'Hindi': 67, 'English': 89, 'Maths': 87, 'Science': 89, 'Computer': 90, 'Total': 422}
{'stdid': 'std102', 'stdname': 'Abhishek ', 'standard': '10th', 'age': 14, 'Hindi': 85, 'English': 45, 'Maths': 48, 'Science': 90, 'Computer': 45, 'Total': 313}
{'stdid': 'std103', 'stdname': 'Aman', 'standard': '10th', 'age': 15, 'Hindi': 23, 'English': 56, 'Maths': 78, 'Science': 78, 'Computer': 67, 'Total': 302}
{'stdid': 'std104', 'stdname': 'Rahul', 'standard': '10th', 'age': 14, 'Hindi': 45, 'English': 67, 'Maths': 45, 'Science': 45, 'Computer': 56, 'Total': 258}
{'stdid': 'std105', 'stdname': 'Ruby', 'standard': '10th', 'age': 13, 'Hindi': 89, 'English': 67, 'Maths': 89, 'Science': 93, 'Computer': 65, 'Total': 403}
{'stdid': 'std106', 'stdname': 'Suman', 'standard': '10th', 'age': 13, 'Hindi': 90, 'English': 46, 'Maths': 67, 'Science': 67, 'Computer': 67, 'Total': 337}
{'stdid': 'std107', 'stdname': 'Saurabh', 'standard': '10th', 'age': 15, 'Hindi': 45, 'English': 23, 'Maths': 34, 'Science': 45, 'Computer': 34, 'Total': 181}
{'stdid': 'std108', 'stdname': 'Sumit', 'standard': '10th', 'age': 14, 'Hindi': 23, 'English': 45, 'Maths': 67, 'Science': 78, 'Computer': 90, 'Total': 303}
{'stdid': 'std109', 'stdname': 'Kamlesh', 'standard': '10th', 'age': 15, 'Hindi': 45, 'English': 56, 'Maths': 78, 'Science': 99, 'Computer': 67, 'Total': 345}
{'stdid': 'std110', 'stdname': 'Rohan', 'standard': '10th', 'age': 15, 'Hindi': 34, 'English': 12, 'Maths': 24, 'Science': 45, 'Computer': 56, 'Total': 171}
Students whose marks in English are greater than 50:
Ashish
Aman
Rahul
Ruby
Kamlesh

Names and ages of the top four scorers in Maths:
Ruby, Age: 13
Ashish, Age: 15
Aman, Age: 15
Kamlesh, Age: 15

In [37]:
from tabulate import tabulate

# Assuming the dictionaries are stored in a list named `table_dict`
table = [
    {"stdid": "std101", "stdname": "Ashish ", "standard": "10th", "age": 15, "Hindi": 67, "English": 89, "Maths": 87, "Science": 89, "Computer": 90, "Total": 422},
    {"stdid": "std102", "stdname": "Abhishek ", "standard": "10th", "age": 14, "Hindi": 85, "English": 45, "Maths": 48, "Science": 90, "Computer": 45, "Total": 313},
    {"stdid": "std103", "stdname": "Aman", "standard": "10th", "age": 15, "Hindi": 23, "English": 56, "Maths": 78, "Science": 78, "Computer": 67, "Total": 302},
    {"stdid": "std104", "stdname": "Rahul", "standard": "10th", "age": 14, "Hindi": 45, "English": 67, "Maths": 45, "Science": 45, "Computer": 56, "Total": 258},
    {"stdid": "std105", "stdname": "Ruby", "standard": "10th", "age": 13, "Hindi": 89, "English": 67, "Maths": 89, "Science": 93, "Computer": 65, "Total": 403},
    {"stdid": "std106", "stdname": "Suman", "standard": "10th", "age": 13, "Hindi": 90, "English": 46, "Maths": 67, "Science": 67, "Computer": 67, "Total": 337},
    {"stdid": "std107", "stdname": "Saurabh", "standard": "10th", "age": 15, "Hindi": 45, "English": 23, "Maths": 34, "Science": 45, "Computer": 34, "Total": 181},
    {"stdid": "std108", "stdname": "Sumit", "standard": "10th", "age": 14, "Hindi": 23, "English": 45, "Maths": 67, "Science": 78, "Computer": 90, "Total": 303},
    {"stdid": "std109", "stdname": "Kamlesh", "standard": "10th", "age": 15, "Hindi": 45, "English": 56, "Maths": 78, "Science": 99, "Computer": 67, "Total": 345},
    {"stdid": "std110", "stdname": "Rohan", "standard": "10th", "age": 15, "Hindi": 34, "English": 12, "Maths": 24, "Science": 45, "Computer": 56, "Total": 171}
]

# Convert the list of dictionaries into a list of lists for tabulate
table_data = []
for row in table:
    table_data.append([row['stdid'], row['stdname'], row['standard'], row['age'],
                       row['Hindi'], row['English'], row['Maths'], row['Science'],
                       row['Computer'], row['Total']])

# Define headers for the table
headers = ["stdid", "stdname", "standard", "age", "Hindi", "English", "Maths", "Science", "Computer", "Total"]

# Print the table using tabulate
print(tabulate(table_data, headers=headers, tablefmt="grid"))

# Filter the students based on marks in English greater than 50
filtered_students = [student for student in table if student['English'] > 50]

# Extract relevant information (stdname and age) for the filtered students
filtered_data = [[student['stdname'], student['age']] for student in filtered_students]

# Print the results using tabulate
print("\nQ.1.)Students whose marks in English are greater than 50:")
print(tabulate(filtered_data, headers=["Name", "Age"], tablefmt="grid"))


# Sort students based on marks in Maths (descending order)
sorted_students = sorted(table, key=lambda x: x['Maths'], reverse=True)

# Extract names and ages of the top four scorers
top_scorers = [[student['stdname'], student['age']] for student in sorted_students[:4]]

# Print the results using tabulate
print("\nQ.2.)Names and ages of the top four scorers in Maths:")
print(tabulate(top_scorers, headers=["Name", "Age"], tablefmt="grid"))

+---------+-----------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| stdid   | stdname   | standard   |   age |   Hindi |   English |   Maths |   Science |   Computer |   Total |
+=========+===========+============+=======+=========+===========+=========+===========+============+=========+
| std101  | Ashish    | 10th       |    15 |      67 |        89 |      87 |        89 |         90 |     422 |
+---------+-----------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std102  | Abhishek  | 10th       |    14 |      85 |        45 |      48 |        90 |         45 |     313 |
+---------+-----------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std103  | Aman      | 10th       |    15 |      23 |        56 |      78 |        78 |         67 |     302 |
+---------+-----------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std104  | Rahul     | 10th       |    14 |      45 |        67 |      45 |        45 |         56 |     258 |
+---------+-----------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std105  | Ruby      | 10th       |    13 |      89 |        67 |      89 |        93 |         65 |     403 |
+---------+-----------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std106  | Suman     | 10th       |    13 |      90 |        46 |      67 |        67 |         67 |     337 |
+---------+-----------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std107  | Saurabh   | 10th       |    15 |      45 |        23 |      34 |        45 |         34 |     181 |
+---------+-----------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std108  | Sumit     | 10th       |    14 |      23 |        45 |      67 |        78 |         90 |     303 |
+---------+-----------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std109  | Kamlesh   | 10th       |    15 |      45 |        56 |      78 |        99 |         67 |     345 |
+---------+-----------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std110  | Rohan     | 10th       |    15 |      34 |        12 |      24 |        45 |         56 |     171 |
+---------+-----------+------------+-------+---------+-----------+---------+-----------+------------+---------+

Q.1.)Students whose marks in English are greater than 50:
+---------+-------+
| Name    |   Age |
+=========+=======+
| Ashish  |    15 |
+---------+-------+
| Aman    |    15 |
+---------+-------+
| Rahul   |    14 |
+---------+-------+
| Ruby    |    13 |
+---------+-------+
| Kamlesh |    15 |
+---------+-------+

Q.2.)Names and ages of the top four scorers in Maths:
+---------+-------+
| Name    |   Age |
+=========+=======+
| Ruby    |    13 |
+---------+-------+
| Ashish  |    15 |
+---------+-------+
| Aman    |    15 |
+---------+-------+
| Kamlesh |    15 |
+---------+-------+